<?xml version="1.0"?>
<ruleset name="Maapkathi">
    <description>Coding standards for the Maapkathi WordPress rebuild.</description>

    <file>plugins/maapkathi-core</file>
    <file>themes/maapkathi-theme</file>

    <arg name="extensions" value="php"/>
    <arg name="colors"/>
    <arg value="sp"/>

    <rule ref="WordPress-Extra"/>
    <rule ref="WordPress-Docs"/>

    <rule ref="WordPress.NamingConventions.PrefixAllGlobals">
        <properties>
            <property name="prefixes" type="array">
                <element value="mk_"/>
                <element value="Maapkathi"/>
                <element value="maapkathi"/>
            </property>
        </properties>
    </rule>

    <rule ref="WordPress.Files.FileName">
        <exclude-pattern>plugins/maapkathi-core/maapkathi-core.php</exclude-pattern>
    </rule>

    <config name="testVersion" value="8.1-"/>
    <config name="minimum_supported_wp_version" value="6.4"/>
</ruleset>
